 


<footer > 
    <ul class="list-group"> 
        <legend>Statics</legend> 
        <li class="list-group-item d-flex justify-content-between align-items-center"> 
            Task count:
            <span class="badge badge-primary badge-pill">{{CountTask()}}</span>        
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center"> 
            Task completed count:
            <span class="badge badge-primary badge-pill">{{CountCompletedTask()}}</span>        
        </li>
    </ul>  
</footer>