.footer{
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #383838;
    color: white;
    text-align: center;
}

p{
    font-family: Roboto;
    font-size: large!important;
    font-weight: normal;
}

