.progressbar {
    background-color: rgb(1, 228, 1);
    transition: width 0.4s;
    height: inherit;
    border-radius: inherit;
    
}

.progressbar-background{
    height: 50px;
    font-size: x-large;
    border-radius: 30px;
    background-color: lightgrey;
}

.progressbar-percentage{
    position: relative;
    left: 500px;
    font-weight: bold;
}
