.startButton {
    background-color:crimson;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 10px;
    margin:10px;
    width: 80%;
    

    font-size: xx-large
}
.startButton:hover{
    cursor: pointer;
}
.tagContainer{
max-width: 80%;
}