.item{
    background-color: dodgerblue;
    width: 25%;
    margin-bottom: 5px;
}
.id{
    font-size: large;
    font-weight: bolder;
    color: white;
    text-align: center;

    margin-bottom: 0px;
    margin-left: 10px;
    padding-bottom: 0px;
}
.desc{
    font-size: larger;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;

    margin-bottom: 0px;
    margin-left: 10px;
    padding-bottom: 0px;
}
.container{
    margin-left: 35%;
}

.completa{
    background-color: #74E39A;
}
.btn{
    margin-top: 20px;
    margin-right: 2px;
    margin-bottom: 5px;
}