<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Tarea</th>
      <th scope="col">Estado</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="item.isCompleted? 'table-success':'table-danger' " *ngFor="let item of list">
      <th scope="row">{{item.id}}</th>
      <td>{{item.description}}</td>
      <td>
        <button *ngIf="item.isCompleted" class="btn btn-success" (click)="changeState(item)">Realizado</button>
        <button *ngIf="!item.isCompleted" class="btn btn-warning" (click)="changeState(item)">Pendiente</button>
      </td>
      <td>
       <button class="btn btn-danger" (click)="deleteTask(item)">Eliminar</button>
      </td>
      
    </tr>
   </tbody>
</table>