<!-- 
<ul class="list-group"> 
    <legend>To Do List </legend> 
    <li class="list-group-item d-flex justify-content-between align-items-center" 
        *ngFor="let item of list; let i = index"> 
        <span class="badge badge-primary badge-pill">{{item.id}}</span>
        {{item.description}}
        {{item | json}}

        <button type="button" 
                (click)="changedState(item)" 
                [ngClass]="item.isCompleted? 'btn btn-warning': 'btn btn-success'">
                {{item.isCompleted? "Reopen":"Complete"}}
        </button> 
        <button type="button" 
                (click)="deleteItem(i)" 
                class="btn btn-danger">Delete
        </button>
        
    </li>
</ul>   -->




<legend>To Do List </legend> 
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Task</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr  [ngClass]="item.isCompleted? 'table-success': 'table-light'" 
            *ngFor="let item of list; let i = index"> 
 
            <td> {{item.id}}</td> 
            <td> {{item.description}}</td>  
            <td>
                <button type="button" 
                    (click)="changedState(item)" 
                    [ngClass]="item.isCompleted? 'btn btn-warning': 'btn btn-success'">
                    {{item.isCompleted? "Reopen":"Complete"}}
                </button> 
            </td>
            <td>
                <button type="button" 
                        (click)="deleteItem(i)" 
                        class="btn btn-danger">Delete
                </button>
            </td>

      </tr> 
    </tbody>
  </table> 
  