.container{
    min-height: 20vh;
    margin: 1% 0;
    border-radius: 5px;
}

.new{
    background-color: #dcd6d6;
}


.completed{
    background-color: green;
}


.pending{
    background-color: yellow;
}