<div class="container mt-5">
    <div class="row">
        <div class="col-md-5 mx-auto">
              <div id="second">
    <div class="myform form ">
          <div class="logo mb-3">
             <div class="col-md-12 text-center">
                <h1 >Registro</h1>
             </div>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="signUp()">
             <div class="form-group">
                <label for="exampleInputEmail1">Nombre de usuario</label>
                <input type="text"  name="firstname" class="form-control" 
                        placeholder="Ingrese nombre de usuario"
                        formControlName="username"
                        [class.is-invalid]="fieldValid('username')">
             </div>
             <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="email" name="email"  class="form-control" 
                        placeholder="Ingrese email"
                        formControlName="email"
                        [class.is-invalid]="fieldValid('email')">
             </div>
             <div class="form-group">
                <label for="exampleInputEmail1">Contraseña</label>
                <input type="password" name="password" class="form-control" 
                        placeholder="Ingrese contraseña"
                        formControlName="password"
                        [class.is-invalid]="fieldValid('password')">
             </div>
             <div class="col-md-12 ">
                <div class="form-group text-center">
                    <button class="btn btn-primary btn-block">Registrarse</button>
                 </div>
                <div class="form-group">
                   <p class="text-center"><a routerLink='/login' id="signin">¿Ya tenes cuenta? Ingrese</a></p>
                </div>
             </div>
          </form>
       </div>
              </div>
        </div>
    </div>
</div>