<div class="container">
  <form [formGroup]="articleForm" (ngSubmit)="postArticle()">
    <div class="form-group">
      <label for="description">Artículo</label>
      <input class="form-control" formControlName="title" placeholder="Nombre del articulo">
    </div>

    <div class="form-group">
      <label for="description">¿De que se trata el artículo?</label>
      <input class="form-control" formControlName="description" placeholder="Descripción">
    </div>

    <div class="form-group">
      <textarea class="form-control big-text" id="body" formControlName="body"
        placeholder="¡Escribe tu artículo!"></textarea>
    </div>

    <!-- solo se muestra si estoy creando un nuevo articulo -->
    <div  *ngIf="!editionMode">
      <button type="submit" class="btn btn-success">Post Article</button>
    </div>

    <!-- solo se muestra si estoy editando un articulo -->
    <div  *ngIf="editionMode">
      <button type="submit" class="btn btn-success">Edit Article</button>
    </div>


  </form>
</div>