<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Cuerpo</th>
                <th>Comentarios</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let article of articles | paginate: { id:'listing_pagination',
        itemsPerPage: 10,
        currentPage: page,
        totalItems: totalItems }">

                <td class="art-td">{{article.title}}</td>
                <td class="art-td">{{article.description}}</td>
                <td class="art-td">{{article.body}}</td>
                <td class="art-td-btn-large">
                    <div>
                        <button class="btn btn-warning art-td-btn-large" (click)="showComments(article)">Ver
                            comentarios</button>
                    </div>
                    <div>
                        <button *ngIf="canEdit(article)" class="btn btn-success art-td-btn-large"
                            (click)="onEdit(article)">Editar</button>
                    </div>
                    <div>
                        <button *ngIf="canEdit(article)" (click)="onDelete(article)"
                            class="btn btn-danger art-td-btn-large">Eliminar</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event">
        </pagination-controls>
    </div>

    <a class="btn btn-primary" [routerLink]="['/newArticle']">Crear articulo</a>
</div>