<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Comments</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let article of articles | paginate: { id:'listing_pagination',
        itemsPerPage: 10,
        currentPage: page,
        totalItems: totalItems }">

        <td>{{article.title}}</td>
        <td>{{article.description}}</td>
        <td>{{article.date}}</td>
        <td><a class="btn btn-warning" (click)="showComments(article)">See Comments</a></td>
        <td><button  class="btn btn-primary">Create</button></td>
        <td><button class="btn btn-success" (click)="onEdit()">Edit</button></td>
        <td><button (click)="onDelete(article)" class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>
</table>
<div>
    <pagination-controls id="listing_pagination" 
    maxSize="5" directionLinks="true" 
    (pageChange)="page = $event">
    </pagination-controls>
</div>

<button class="btn primary green">Create</button>