
.comments-container{
    margin: 5px;
    margin-top: 20px;
    padding: 0px;
    min-height: 50px;
    display: block;
}

.comment-group{
    list-style: none;
    background-color: white;
    border-radius: 2px;
    border-top: solid 1px rgba($color: #000000, $alpha: 0.4);
    margin-top: 10px;
    padding: 10px;
    clear: both;
    overflow: hidden;
}

.author-image{
    width: 20px;
    margin-right: 10px;
    border-radius: 50%;
}

.image-container{
    height: 100%;
    float: left;
}

.align-left{
    float: left;
}

.align-right{
    float: right;
}

.clear{
    clear: both;
}

.comment-body{
    margin-top: 10px;
    word-wrap: break-word;
}

.comment-author{
    font-size: medium;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.comment-creation-date{
    font-size: small;
    color: rgb(187, 187, 187);
    margin-left: 10px;
}

.update-delete-section{
    float: right;
    color: black;
    margin-right: 20px;
}

.delete{
    margin-left: 3px;
    display: inline-block;
}

.delete:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px  rgba(189, 0, 0, 0.8);
}