.articles-container{
    margin: 0px;
    padding: 0px;
}

.article-group{
    list-style: none;
    background-color: white;
    min-height: 100px;
    border-radius: 5px;
    border-top: solid 1px rgba($color: #000000, $alpha: 0.4);
    margin-top: 10px;
    padding: 40px;
    clear: both;
    overflow: hidden;
}

.author-image{
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.align-left{
    float: left;
}

.align-right{
    float: right;
}

.clear{
    clear: both;
}

.article-description{
    margin-top: 10px;
    border-top: solid 1px rgb(204, 202, 202);
    word-wrap: break-word;
}

.article-title{
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}

.article-creation-date{
    font-size: small;
    color: rgb(187, 187, 187);
}

.link-more{
    float: right;
    color: gray;
}

.update-delete-section{
    float: right;
    color: black;
    margin-right: 20px;
}

.update{
    margin-right: 3px;
    display: inline-block;
}

.update:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px  rgba(24, 121, 0, 0.8);
}

.delete{
    margin-left: 3px;
    display: inline-block;
}

.delete:hover{
    cursor: pointer;
    box-shadow: 2px 2px 10px  rgba(189, 0, 0, 0.8);
}