<div>
    <h1>Titulo</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima error aut ratione vitae exercitationem ex harum aperiam qui fugiat voluptate. Tenetur amet officiis velit cum non molestias quod quia beatae consequatur porro, rerum labore voluptatibus minima pariatur doloremque iure nemo corporis temporibus reprehenderit earum magni esse laboriosam? Eos, inventore quasi.</p>
</div>

<app-card footer="Esto es el footer">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit esse atque repellendus nesciunt consequatur officia earum harum, quod quae voluptas!</p>
    <h1>Titulo</h1>
</app-card>
<app-card>
    <h1>Titulo2</h1>
    <h2 class="subtitle">Titulo2</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit esse atque repellendus nesciunt consequatur officia earum harum, quod quae voluptas!</p>
</app-card>
<app-card>
    <h1>Titulo2</h1>
    <h1 class="subtitle">Titulo2</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit esse atque repellendus nesciunt consequatur officia earum harum, quod quae voluptas!</p>
</app-card>