<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-navbar-custom">
    
    <a class="navbar-brand" href="home/all/1">RealWorld App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="javascript:void(0)" routerLink="home/all/1">Home <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="token!==undefined" class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="editor/create">New Article</a>
        </li>
        <li *ngIf="token!==undefined" class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="logOut()">Log Out</a>
        </li>
        <li *ngIf="token===undefined" class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="register">Sign Up</a>
        </li>
        <li *ngIf="token===undefined" class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="login">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<!-- ------------------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------- Main content begin ---------------------------------------------------------- -->
<!-- ------------------------------------------------------------------------------------------------------------- -->


<div class="fill-screen">
<router-outlet></router-outlet>
</div>


<!-- ------------------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------- Main content end ------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------------------------------------- -->
<footer class="page-footer font-small pt-4 bg-dark text-light">
  <div class="container-fluid text-center text-md-left">

    <div class="row">
      
      <div class="col-md-9 mt-md-0 mt-3">
        <h5 class="text-uppercase">About our project</h5>
        <p>Angular implementation of Real World App.</p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3">

      <div class="col-md-3 mb-md-0 mb-3">

        <h5 class="text-uppercase">Links</h5>
        <ul class="list-unstyled">
          <li>
            <a class="text-link" href="https://github.com/gothinkster/realworld/tree/master/spec">FrontEnd Spec</a>
          </li>
          <li>
            <a class="text-link" href="https://github.com/gothinkster/realworld/tree/master/api">BackEnd Spec</a>
          </li>
          <li>
            <a class="text-link" href="https://demo.realworld.io/#/">Example App</a>
          </li>
        </ul>

      </div>

    </div>

  </div>


  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a class="text-link" href="https://github.com/OscarDorronzoro/angular9-example/tree/reactive-forms"> Oscar Dorronzoro, Agustina Blanco</a>
  </div>

</footer>