.text-link {
    color: #007adf !important;
  }
  
.text-link:hover, .text-link:active {
  color: #008cff !important;
}

.bg-navbar-custom{
  background-color: #1393fc;
}

.footer-copyright{
  background-color: rgb(32, 31, 31);
}