<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

        <div class="login-card">

            <!-- solo se muestra si esta en modo crear-->
            <div *ngIf="creationMode">
                <div class="indicator">
                    <p>Nombre de usuario</p>
                </div>

                <div class="login-input">
                    <i class="fa fa-user fa-3x" aria-hidden="true"></i>
                    <input type="text" formControlName="username">
                </div>
            </div>


            <div>
                <div class="indicator">
                    <p>Email</p>
                </div>

                <div class="login-input">
                    <i class="fa  fa-address-book fa-3x" aria-hidden="true"></i>
                    <input type="text" formControlName="email">
                </div>
            </div>


            <div>
                <div class="indicator">
                    <p>Contraseña</p>
                </div>
                <div class="login-input">
                    <i class="fa fa-unlock-alt fa-3x" aria-hidden="true"></i>
                    <input type="password" formControlName="pass">
                </div>
            </div>

            <!-- solo se muestra si esta en modo crear -->
            <div *ngIf="creationMode">
                <div class="indicator">
                    <p>Repetir Contraseña</p>
                </div>

                <div class="login-input">
                    <i class="fa fa-unlock-alt fa-3x" aria-hidden="true"></i>
                    <input type="password" formControlName="repeatPass">
                </div>
            </div>

            <!-- Buttons-->
            <div class="customRow" *ngIf="!creationMode">
                <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">
                    Login
                </button>
                <button class="btn btn-secondary" (click)="toggleCreationMode()">
                    Crear cuenta
                </button>
            </div>

            <div class="customRow" *ngIf="creationMode">
                <button class="btn btn-primary" type="button" (click)="createAccount()">
                    Crear cuenta
                </button>
                <button class="btn btn-secondary" (click)="toggleCreationMode()">
                    Cancelar
                </button>
            </div>
        </div>

    </form>


    <div class="alert" [ngClass]="messageClass" role="alert" *ngIf="messageShow">
        {{messageText}}
    </div>

</div>