.login-card {
    background: rgb(22, 26, 66);
    background: linear-gradient(
      90deg,
      rgba(22, 26, 66, 1) 34%,
      rgba(103, 58, 183, 1) 100%
    );
  
    padding: 10% 10%;
    margin: 100px 0px 50px 0;
    border-radius: 20px;
  
  }
  
  .login-card label {
    color: white;
    font-size: larger;
  }
  .login-card input {
    color: black;
    background-color: whitesmoke;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .login-card button{
      float: right;
      margin: 5px;
  }
  
  .login-input {
    display: flex;
    justify-content: flex-start;
  }
  input{
    width: 100%;
    margin: 0 0 10px 0;
  }
  
  .fa {
    padding-right: 20px;
    color: white;
    width: 12%;
  }
  
  
  .indicator{
    color: white;
    display: flex;
    justify-content: center;
  }
