.nube_items{
    background-color: lightgrey;
    float: left;
    width: 25%;
    border-style: 1px solid;
    border-width: 2px;
}
.tag_articles{
    background-color: lightyellow;
    width: 70%;
    float: left;
    border-style: solid;
    border-width: 2px black;
}

