<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="form-todo">
    <mat-label>Description</mat-label>
    <input
      matInput
      type="text"
      formControlName="description"
      [errorStateMatcher]="errorMatcher"
    />
  </mat-form-field>
  <mat-form-field class="form-todo">
    <mat-label>Url</mat-label>
    <input
      matInput
      type="text"
      formControlName="url"
      [errorStateMatcher]="errorMatcher"
    />
  </mat-form-field>
  <button
    mat-raised-button
    type="submit"
    [disabled]="!taskForm.valid"
    id="btn-submit"
  >
    {{ editMode == true ? "Edit" : "Create" }}
  </button>
</form>
