.task-main-form {
  background-color: rgb(70, 162, 255);
  padding: 20px;
  border-radius: 15px;
}

.add-todo {
  width: 100%;
}
.main-row{
  display: flex;
  justify-content: stretch;
}

.optional-row{
  display: flex;
  justify-content: stretch;
}

.optional-row p{
  display: inline-block;
  padding: 0px 10px;
}

.optional-row .add-todo{
  width: 100%;
}

input.ng-invalid{
  border: 2px solid red;
}

.btn{
  margin: 0px 0px 0px 10px;
}